.card-base {
    padding: 12px;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card-info {
    width: 100%;
    
    @media (min-width: 992px) {
        margin-right: 16px;
    }
}

.chart-container {
    height: 35vh;
}

.recharts-default-tooltip {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .9) !important;
    text-align: start;
}

.recharts-tooltip-label {
    color: #FFF;
    font-weight: bold;
}

.recharts-tooltip-item-list {
    font-weight: bold;
}

.unit {
    font-size: 13px;

    .legend {
        font-weight: 400;
    }
}

.recharts-text {
    font-size: 13px;
}

.station-container {
    overflow-x: hidden;
}

.go-back .btn,
.period-buttons .btn {
    padding: 5px 11px;

    &-primary {
        padding: 4.5px 11px;
    }
}

@media (max-width: 576px) {
    .go-back,
    .period-buttons,
    .period-buttons .btn {
        font-size: 14px;
    }

    .period-buttons .btn-primary {
        padding: 6px 11px;
    }
}