.station-filters-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f2f2f2;
    height: calc(100vh - 54px);
    display: flex;
}

.station-filters-content {
    padding: 16px;
    transition: all .4s;
}

.station-vars-container {
    text-align: left;
}

.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);

    &:focus {
        box-shadow: none;
    }
}